<div class="row">
    <div class="span12">
        <form data-bind="with: filterParams, submit : filted" class="form-inline well">
            <label>Age</label>
            <input type="text" class="input-mini" size="3" placeholder="from" data-bind="value: AgeFrom" />
            <input type="text" class="input-mini" size="3" placeholder="to" data-bind="value: AgeTo" />
            <label class="checkbox ">
                <input type="checkbox" data-bind="checked: ShowMale" />Show male</label>
            <label class="checkbox ">
                <input type="checkbox" data-bind="checked: ShowFemale" />Show female</label>
            <select data-bind="options: Colors, value : SelectedColor, optionsValue: 'Key', optionsText: 'Value'"></select>                    
            <button style="float: right;" type="submit" class="btn btn-large" >filter</button>
            <button style="float: right;" type="submit" class="btn btn-large" data-bind="click : $parent.add">Add</button>
        </form>
        <table class="table table-bordered" data-bind="with : grid">
            <thead >
                <tr >
                    <th class="sorting" data-bind="sort: 'FirstName', class : checkSort('FirstName')">
                        First name
                    </th>
                    <th class="sorting" data-bind="sort: 'LastName', class : checkSort('LastName')">
                        Last name
                    </th>
                    <th >
                        Gender
                    </th>
                    <th class="sorting" data-bind="sort: 'Age', class : checkSort('Age')">
                        Age
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: rows">
                <tr>
                    <td data-bind="text: FirstName">
                    </td>
                    <td data-bind="text: LastName">
                    </td>
                    <td data-bind="text: Gender">
                    </td>
                    <td data-bind="text: Age">
                    </td>
                </tr>
            </tbody>
        </table>
        <div data-bind="with: grid.paging">
<!-- 
<li class="previous disabled"> -->

<ul class="pager">
              <li class="previous"><a href="javascript:void(0)" data-bind="click : back">← Previous</a></li>
              <li>Page <lable data-bind="text: PageNumber" ></lable> of <lable data-bind="text: TotalPagesCount" ></lable></li>
              <li class="next"><a href="javascript:void(0)" data-bind="click : next">Next →</a></li>
            </ul>
        </div>
    </div>
</div>


<div id="popup" data-bind="with : popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<!-- ko template:{ html: html, data : data} -->
<!-- /ko -->
</div>